.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 97%;
  padding: 20px;
  color: white;
  background-color: rgba(14, 13, 13, 0.904);
}
.footer_green {
  color: #1ed15e;
}
.footer_left {
  flex: 0.3;
  margin-left: 15px;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}
.footer_center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}
.footer_right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
/* MuiSlider-root is a built-in class by Material UI.
 We go to footer_right class and look for any Mui Slider */
.footer_right * .MuiSlider-root {
  color: #1ed15e;
}
.footer_songInfo h4 {
  margin-bottom: 5px;
}
.footer_songInfo p {
  font-size: 12px;
}
.footer_icon:hover,
.footer_green:hover {
  transition: transform 200ms ease-in-out;
  transform: scale(1.2) !important ;
}
